:root {
  --negro: #1d1b1b;
  --blanco: #f7f7f7;
  --gris-claro: #f0f0f0;
  --gris: #acafb6;
  --azul: #1465bb;
  --dorado: #e7bd00;
  --azul-oscuro: #003785;
  --size-titulos: 25px;
  --size-subtitulos: 11px;
  --size-parrafos: 15px;
}
.texto-dorado {
  color: var(--dorado);
}
.texto-azul {
  color: var(--azul);
}
.texto-gris {
  color: var(--gris);
}
.btn-outline-danger {
  color: #fff;
  background-color: var(--azul);
  border-color: var(--azul);
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: var(--azul-oscuro);
  border-color: var(--azul-oscuro);
}
.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(53, 125, 220, 0.5);
}
/*Estilos Globales*/
nav.menu {
  background-color: var(--blanco);
  color: var(--negro);
  padding: 0;
}
nav.menu .logo {
  width: 80px;
  margin-left: 50px;
}
nav.menu .contenedor-menu {
  padding: 0 15%;
}
nav.menu .enlace-menu a {
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  color: var(--negro);
  text-transform: uppercase;
  border-bottom: solid 3px var(--gris-claro);
  transition: 0.5s;
}
nav.menu .enlace-menu a:hover {
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  color: var(--negro);
  text-transform: uppercase;
  border-bottom: solid 3px var(--azul);
  transition: 0.5s;
}
nav.menu .enlace-menu a.active {
  border-bottom: solid 3px var(--azul);
}
nav.menu a.avatar {
  width: 34px;
  height: 34px;
  border: solid 1px #e0e0e0;
  border-radius: 50%;
  transition: 0.5s;
}
nav.menu a.avatar:hover {
  border: solid 1px var(--azul);
  transition: 0.3s;
}
nav.menu .avatar img {
  width: 32px;
  height: 32px;
}
nav.menu .carrito img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.navbar-toggler {
  padding: 15px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  background: #e0e0e0;
}
.ocultar-escritorio {
  display: none !important;
}
/* producto */
.titulos {
  color: var(--negro);
  font-size: var(--size-titulos);
}
.subtitulos {
  color: var(--azul);
  font-size: var(--size-subtitulos);
  text-transform: uppercase;
}
p {
  color: var(--negro);
  font-size: var(--size-parrafos);
}
.producto .detalle-producto {
  background: var(--gris-claro);
}
/* Producto */
.menu-imagenes-producto li.nav-item {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.menu-imagenes-producto .nav-pills .nav-link.active,
.menu-imagenes-producto .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #00adb5;
  padding: 5px;
}
.menu-imagenes-producto li.nav-item img {
  width: 100%;
}
/* formulario y comentarios */
.comentarios {
  background: #dbdbdb;
}
.msj {
  margin-top: 15%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  background: #3f51b5;
  border-radius: 50%;
  color: var(--blanco);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  float: right;
}
.fechaComentario {
  font-size: 11px;
  color: var(--gris);
}
.mensaje {
  background: var(--blanco);
  padding: 5%;
  border-radius: 15px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
.nombreUsuario span {
  color: var(--azul);
  text-transform: capitalize;
}
.formulario-comentarios {
  background: var(--gris-claro);
}
@media (max-width: 768px) {
  nav.menu .logo {
    width: 50px;
  }
  .ocultar-escritorio {
    display: block !important;
  }
  .ocultar-mobiles {
    display: none !important;
  }
  nav.menu .enlace-menu {
    display: table !important;
    width: 100%;
  }
  nav.menu .enlace-menu a {
    display: table;
    width: 100%;
    padding: 15px;
  }
  .menu-imagenes-producto li.nav-item img {
    width: 50px;
  }
}
